.asideContainer{
    display:flex;
    flex-direction: column;
    margin-top:20px;
}

.asideBot{
    background-color: $accent;
    border-radius: 50px 15px;
    text-align: center;
    margin-top:20px;
}
