.footerContainer{
    display:flex;
    justify-content: space-between;
}

.footerLeft,
.footerRight{
    background-color: #161B33;
    padding:50px;
    border-radius: 50px;
    margin: 10px 10px;
    width:50%;
    h2,
    h3{
        margin:0 0 25px 0;
    }
    p{
        line-height: 40px;
    }
    button{
       margin-top:15px;
    }
}

footer>div:nth-child(2){
    text-align: center;
    background-color:#FAC311;
    border-radius: 50px 15px;
}

.motifsFound{
    margin:20px auto;
}

footer>div:nth-child(3){
    text-align: center;
    margin: 10px;
}