.mainContainer{
    display:flex;
    flex-direction: column;
    margin-top:3%;
}

.mainTop{
    background-color: #161B33;
    padding:50px;
    border-radius: 50px;
    margin-bottom: 20px;
    h3{
        margin:0 0 25px 0;
    }
    p{
        line-height: 40px;
    }
    button{
       margin-top:15px;
    }
}

.mainBot{
    background-color:#FCA311;
    border-radius: 50px 15px;
    text-align: center;
}
